$color--blue: #0da6e7;
$color--white: #f2f2f3;
$color--yellow: #dad4a4;
$color--red: #ff7077;
$color--navy: #183086;
$color--grey: #44525e;
$color--black: #000000;
$color--cyan: cyan;
$color--green: #58bd7f;

