.loginContainer {
    margin-top: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.formLabel {
    margin-bottom: 0.5rem;
}

.formControl {
    display: block;
    width: 100%;
    padding: 0.469rem 0.8rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.loginDiv {
    margin-bottom: 1rem !important;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.loginButton {
    flex-direction: row;
    margin: auto;
    width: 100px;
    height: 25px;
    align-items: center;
    align-content: center;
}

.orderContainer {
    margin-top: 30px;
    display: flex;
}

.orderDescription {
    margin-left: 12px;
}

.orderButtons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.orderButton {
    background-color: #ffd700;
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    color: white;
}