.productDetail{
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 300px !important;
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
}

.productItemButton{
    background-color: #febe10;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}

.productItemBuy{
    background-color: #FFC72C;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}